@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}


#modal-content img {
  border-radius: 12px;
}


#movie-grid {
  min-height: 200px;
}